#============= hwservicemanager ==============
allow hwservicemanager init:dir { search read getattr };
allow hwservicemanager init:file { open read };
allow hwservicemanager init:process getattr;
